<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>This is the breakfast menu </h1>
    <repeat group = " {{ @breakfastItems}}" value = " {{ @breakfastItem }}">
        <h1>  {{ @breakfastItem}}</h1>
    </repeat>

    <a type="button" class = "btn btn-primary" href="order-form-1">View Breakfast menu</a>


</body>
</html>